In [2]:
x="john"
y="rakesh"
z=x+y
print(z)

johnrakesh

In [3]:
x=y=z="orange"
print(x,y,z)

orange orange orange

In [9]:
x="hawle"
def rakesh():
    print("the permanent number is " + x)   
rakesh()

the permanent number is hawle

In [13]:
x=7
y=8.9
z=7j
print(type(x))
print(type(y))
print(type(z))
a=float(x)
b=int(y)
c=complex(z)
print(a)
print(b)
print(c)

<class 'int'>
<class 'float'>
<class 'complex'>
7.0
8
7j

In [22]:
import random
print(random.randrange(1,100))

47

In [27]:
x=int(2.6)
y=int(7)
z=int(3.8)
print(x,y,z)

2 7 3

In [29]:
x=str("rakesh")
y=str("john")
z=str("rahul")
print(x,y,z)

rakesh john rahul

In [30]:
print("hello world")
print('hello world')

hello world
hello world

In [31]:
a="john"
print(a)

john

In [32]:
x="nikhil"
print(x)

nikhil

In [50]:
#prime or not
num=5
if x>1:
    for i in range(2,num-1):
        if (num%i)==0:
            print(num,"is not a prime number")
            break
    else:
        print(num,"is a prime number")

5 is a prime number

In [42]:
#command line arguments
import sys

lst=sys.argv
for i in lst:print(len(i))
print(len(i))
print(lst[0])

65
2
96
96
C:\Users\Rakesh\Anaconda3\lib\site-packages\ipykernel_launcher.py

In [56]:
#functions in average function demo
def average(num1,num2):
    print("average of two numbers",(num1+num2)/2)
average(10,20)

average of two numbers 15.0

In [63]:
#using return
def average(num1,num2):
    return (num1+num2)/2
print(average(10,20))

15.0

In [66]:
#using multiple values
def calc(x,y):
    x=x+y
    y=x-y
    z=x*y
    u=x/y
    return x,y,z,u
result=calc(10,5)
print(result)
for i in result:
    print(i)

(15, 10, 150, 1.5)
15
10
150
1.5

In [72]:
#local and global variables
x=123
def display():
    y=678
    print(y)
print(x)
display()

123
678

In [73]:
x=123
def display():
    x=678
    print(x)
    print(globals()['x'])
print(x)
display()

123
678
123

In [79]:
#greeting
def display(name):
    def message():
        return "Hello "
    result=message()+name
    return result
print(display("bharath"))

Hello bharath

In [84]:
#return function
def display():
    def message():
        return "Hello "
    return message
fun=display()
print(fun())

Hello

In [86]:
#list
def fun(lst):
    for i in lst:
        print(i)
fun([1,2,3,4])

1
2
3
4

In [90]:
#factorial
def factorial(n):
    if n==0:
        result=1
    else:
        result=n*factorial(n-1)
    return result
print(factorial(5))

120

In [96]:
#cube lambda
'''def cube(n):
    return n**3
cube(2)'''
f=lambda n:n**3
print(f(2))

8

In [97]:
#even or odd lambda
l=lambda x:'yes'if x%2==0 else 'No'
print(l(10))
print(l(9))

yes
No

In [103]:
#sum by lambda
'''def add(a,b):
    return a+b
print(add(10,20))'''
l=lambda a,b:a+b
print(l(10,20))

30

In [108]:
#even or odd filter
lst=[10,2,33,45,89,2]
result=list(filter(lambda x:x%2==0,lst))
print(result)
for i in result:
    print(i)

[10, 2, 2]
10
2
2

In [109]:
#dobule using map
lst=[2,3,4,5]
result=list(map(lambda n:n*2,lst))
print(result)

[4, 6, 8, 10]

In [111]:
#sum using reduce
from functools import reduce
lst=[5,10,15,20]
result=reduce(lambda x,y:x+y,lst)
print(result)

50

In [113]:
#double decorator
def decor(fun):
    def inner():
        reult=fun()
        return result*2
    return inner
def num():
    return 5
resultfun=decor(num)
print(resultfun())

100